@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F8F9;
}

header {
    background-color: white;
}
/* Proprietà logo */
.logo {
    display: inline-block;
    width: 80px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    vertical-align: middle;
    margin-left: 20px;
}

/* Sezioni con bottoni */

#container-1 {
    width: 60%;
    margin: auto;
    background-color: white;
    margin-top: 40px;
    border-radius: 3%;
    padding: 10px;
}

.task {
    padding: 5px;
    background-color: #46ADF1;
    color: white;
    border-radius: 10%;
    border: 0;
    margin-left: 5%;
}

.task-2 {
    padding: 5px;
    background-color: white;
    color: #DBDFE1;
    border-radius: 10%;
    border: 2px solid #DBDFE1;
}

main {
    line-height: 30px;
}
/* Stile nuove task, checkbox e categorie */
.container-2 {
    width: 60%;
    margin: auto;
    background-color: white;
    margin-top: 2px;
    padding: 40px;
    border-radius: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

h5::before{
    content: '\25BC';
    font-size: 13px;
}



.list {
    list-style: none;
    font-size: 16px;
    margin-top: 10px;
}

.container-3 {
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-top: -30px;
}
/* Checkbox spunta e x */
.checkbox {
    display: inline-block;
    border: 1px solid #79CAB6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    color: #79CAB6;
    line-height: 20px;
}

.checkbox-1 {
    display: inline-block;
    border: 1px solid red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    color: red;
    line-height: 20px;
}
/* Categorie liste */

.category-1 {
    background-color: #46ADF1;
    color: white;
    border-radius: 13px;
    font-size: 12px;
    padding: 7px;
}

.category-2 {
    background-color: #9C72E4;
    color: white;
    border-radius: 13px;
    font-size: 12px;
    padding: 7px;
}

.category-3 {
    background-color: #63C0A9;
    color: white;
    border-radius: 13px;
    font-size: 12px;
    padding: 7px;
}

.category-4 {
    background-color: #F29E33;
    color: white;
    border-radius: 13px;
    font-size: 12px;
    padding: 7px
}

.category-5 {
    background-color: #D763A1;
    color: white;
    border-radius: 13px;
    font-size: 12px;
    padding: 7px
}

.category-6 {
    background-color: #B0C925;
    color: white;
    border-radius: 13px;
    font-size: 12px;
    padding: 7px
}











